:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.total-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

/* header and nav-container */
header {
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 142, 0.9),
        rgba(18, 172, 142, 0.7)
    ),
    url(images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.nav-container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.nav-logo span {
    color: var(--secondary-color);
}

.nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link a {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--primary-color-light);
}

.link a:hover {
    background-color: var(--secondary-color);
    color: var(--text-dark);
    border-radius: 5px;
}

.button{
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.nav-container a {
    color: var(--primary-color-light);
}

.nav-container button:hover {
    color: var(--text-dark);
}